---
http_interactions:
- request:
    method: get
    uri: https://admin.vanilapay.com/api/v2/transactions/507122561
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer wE5V6Jh51mdh3ZQ1LuJCDZC6Gw6SHvZ9curDSEBmdSjh8CDCS33puZJ71fGNgzmx
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - ru_RU
    body:
      encoding: UTF-8
      string: '{"id":"507122561","created_at":"2023-04-19T17:29:00+03:00","updated_at":"2023-04-19T17:29:01+03:00","action":"deposit","method":"wallet-card","payment_id":"332529680","order_id":"123","account":"12345","amount":"5000.00","payment_amount":"0.00","commission":"25.00","comment":null,"status":"process","payment_url":null,"payment_code":null,"payment_error_code":null,"payment_error":null,"currency":"RUB"}'
  recorded_at: Wed, 19 Apr 2023 14:50:20 GMT
recorded_with: VCR 5.1.0
