---
http_interactions:
- request:
    method: get
    uri: https://admin.vanilapay.com/api/v2/accounts/18
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer wE5V6Jh51mdh3ZQ1LuJCDZC6Gw6SHvZ9curDSEBmdSjh8CDCS33puZJ71fGNgzmx
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - ru_RU
    body:
      encoding: UTF-8
      string: '{"id":"18","is_default":true,"currency":"RUB","balance":"0.00","commission":"0.00"}'
  recorded_at: Wed, 19 Apr 2023 14:55:54 GMT
recorded_with: VCR 5.1.0
