---
http_interactions:
- request:
    method: post
    uri: https://admin.vanilapay.com/api/v2/withdrawal/card
    body:
      encoding: UTF-8
      string: '{"order_id":"11_03_2024_17_49","site_account":"sber","account":"4242424242424242","amount":"1.00"}'
    headers:
      Authorization:
      - Bearer testtokenvalue
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - ru_RU
    body:
      encoding: UTF-8
      string: '{"message":"The given data was invalid","errors":{"amount":["Min amount
        is 100.00."]}}'
  recorded_at: Mon, 11 Mar 2024 12:54:29 GMT
recorded_with: VCR 5.1.0
