---
http_interactions:
- request:
    method: post
    uri: https://admin.vanilapay.com/api/v2/withdrawal
    body:
      encoding: UTF-8
      string: '{"order_id":"9911_4","method":"card","account":"4242424242424242","amount":"1.00","notification_url":"http://some.url/callback","success_url":"http://some.url/callback","fail_url":"http://some.url/callback"}'
    headers:
      Authorization:
      - Bearer 8ub1ReV5EwrZDLQS3LkwgQ19r1muidGYcPMBuvVt7VDFBGKwoeWXTg8mohZXFMu8
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - ru_RU
    body:
      encoding: UTF-8
      string: '{"message":"The given data was invalid","errors":{"amount":["Min amount
        is 10.00."]}}'
  recorded_at: Mon, 24 Apr 2023 14:43:27 GMT
recorded_with: VCR 5.1.0
