---
http_interactions:
- request:
    method: post
    uri: https://admin.vanilapay.com/api/v2/withdrawal/sbp
    body:
      encoding: UTF-8
      string: '{"order_id":"11_03_2024_19_13","site_account":"sber","account":"89221186680","amount":"101.00","bank_id":"100000000004"}'
    headers:
      Authorization:
      - Bearer testtokenvalue
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - ru_RU
    body:
      encoding: UTF-8
      string: '{"id":"516551479","amount":"101.00","commission":"2.02"}'
  recorded_at: Mon, 11 Mar 2024 14:14:02 GMT
recorded_with: VCR 5.1.0
