---
http_interactions:
- request:
    method: post
    uri: https://admin.vanilapay.com/api/v2/withdrawal/card
    body:
      encoding: UTF-8
      string: '{"order_id":"11_03_2024_17_49","site_account":"sber","account":"4242424242424242","amount":"101.00"}'
    headers:
      Authorization:
      - Bearer testtokenvalue
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - ru_RU
    body:
      encoding: UTF-8
      string: '{"id":"516551132","amount":"101.00","commission":"3.54"}'
  recorded_at: Mon, 11 Mar 2024 12:50:23 GMT
recorded_with: VCR 5.1.0
