---
http_interactions:
- request:
    method: post
    uri: https://admin.vanilapay.com/api/v2/withdrawal
    body:
      encoding: UTF-8
      string: '{"order_id":"9911_4","method":"card","account":"4242424242424242","amount":"22.00","notification_url":"http://some.url/callback","success_url":"http://some.url/callback","fail_url":"http://some.url/callback"}'
    headers:
      Authorization:
      - Bearer 8ub1ReV5EwrZDLQS3LkwgQ19r1muidGYcPMBuvVt7VDFBGKwoeWXTg8mohZXFMu8
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - ru_RU
    body:
      encoding: UTF-8
      string: '{"id":"507311510","created_at":"2023-04-24T17:37:39+03:00","updated_at":"2023-04-24T17:37:39+03:00","action":"withdrawal","method":"card","payment_id":"363092417","order_id":"9911_4","account":"4242424242424242","amount":"22.00","payment_amount":"0.00","commission":"50.44","comment":null,"status":"process","payment_url":null,"payment_code":null,"payment_error_code":null,"payment_error":null,"currency":"RUB"}'
  recorded_at: Mon, 24 Apr 2023 14:37:39 GMT
recorded_with: VCR 5.1.0
