---
http_interactions:
- request:
    method: post
    uri: https://admin.vanilapay.com/api/v2/withdrawal/rate
    body:
      encoding: UTF-8
      string: '{"method":"contact","account":"CFRN","amount":"2.00","currency":"USD"}'
    headers:
      Authorization:
      - Bearer wE5V6Jh51mdh3ZQ1LuJCDZC6Gw6SHvZ9curDSEBmdSjh8CDCS33puZJ71fGNgzmx
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - ru_RU
    body:
      encoding: UTF-8
      string: '{"rate":"82.7800","amount":"165.56","message":"\u0412\u044b\u0432\u043e\u0434
        \u043d\u0430 \u0441\u0443\u043c\u043c\u0443: 165.56\u20bd, \u043f\u043e \u043a\u0443\u0440\u0441\u0443:
        1$ = 82.78\u20bd"}'
  recorded_at: Thu, 20 Apr 2023 21:25:49 GMT
recorded_with: VCR 5.1.0
