---
http_interactions:
- request:
    method: post
    uri: https://admin.vanilapay.com/api/v2/withdrawal
    body:
      encoding: UTF-8
      string: '{"order_id":"9911_4","method":"wrong","account":"4242424242424242","amount":"22.00","notification_url":"http://some.url/callback","success_url":"http://some.url/callback","fail_url":"http://some.url/callback"}'
    headers:
      Authorization:
      - Bearer 8ub1ReV5EwrZDLQS3LkwgQ19r1muidGYcPMBuvVt7VDFBGKwoeWXTg8mohZXFMu8
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - ru_RU
    body:
      encoding: UTF-8
      string: '{"message":"Validation failed","errors":{"method":["\u0412\u044b\u0431\u0440\u0430\u043d\u043d\u043e\u0435
        \u0412\u0430\u043c\u0438 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u0435
        \u043d\u0435\u0434\u043e\u043f\u0443\u0441\u0442\u0438\u043c\u043e."]}}'
  recorded_at: Mon, 24 Apr 2023 14:38:27 GMT
recorded_with: VCR 5.1.0
