---
http_interactions:
- request:
    method: post
    uri: https://admin.vanilapay.com/api/v2/invoices
    body:
      encoding: UTF-8
      string: '{"order_id":"21231231","payment_methods":["card"],"amount":"120.0","notification_url":"http://some.url/callback","success_url":"http://some.url/callback","fail_url":"http://some.url/callback"}'
    headers:
      Authorization:
      - Bearer wE5V6Jh51mdh3ZQ1LuJCDZC6Gw6SHvZ9curDSEBmdSjh8CDCS33puZJ71fGNgzmx
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - ru_RU
    body:
      encoding: UTF-8
      string: '{"id":"511727028","payment_url":"https:\/\/pay.castelvania.net\/69d039ce-ef4f-4da8-b28f-48e71c203417"}'
  recorded_at: Tue, 17 Oct 2023 18:53:26 GMT
recorded_with: VCR 5.1.0
