---
http_interactions:
- request:
    method: post
    uri: https://admin.vanilapay.com/api/v2/deposit
    body:
      encoding: UTF-8
      string: '{"order_id":"123","method":"wallet-card","amount":"1.0","account":"12345","notification_url":"http://some.url/callback","success_url":"http://some.url/callback","fail_url":"http://some.url/callback","card_number":"4242424242424242","card_expire":"01/25","card_cvv":"123","ext_txn":"123","ext_date":"2020-01-01T00:00:00+03:00","ext_email":"test@mail.com","ext_ip":"127.0.0.1","ext_recipient_system":"Payeer
        EUR","ext_recipient":"P121321","ext_c_to":"PREUR","card_type":"visa"}'
    headers:
      Authorization:
      - Bearer wE5V6Jh51mdh3ZQ1LuJCDZC6Gw6SHvZ9curDSEBmdSjh8CDCS33puZJ71fGNgzmx
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - ru_RU
    body:
      encoding: UTF-8
      string: '{"message":"The given data was invalid","errors":{"amount":["Min amount
        is 5000.00"]}}'
  recorded_at: Wed, 19 Apr 2023 14:40:14 GMT
recorded_with: VCR 5.1.0
