---
http_interactions:
- request:
    method: post
    uri: https://admin.vanilapay.com/api/v2/deposit/card
    body:
      encoding: UTF-8
      string: '{"order_id":"11_03_2024_18_37","amount":"100.0","site_account":"sber"}'
    headers:
      Authorization:
      - Bearer testtokenvalue
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - ru_RU
    body:
      encoding: UTF-8
      string: '{"id":"516551333","amount":"100.00","commission":"2.00","card_number":"4242424242424242","last_name":"test","first_name":"test","middle_name":"test"}'
  recorded_at: Mon, 11 Mar 2024 13:40:03 GMT
recorded_with: VCR 5.1.0
