---
http_interactions:
- request:
    method: post
    uri: https://admin.vanilapay.com/api/v2/deposit
    body:
      encoding: UTF-8
      string: '{"order_id":"123","method":"wrong","amount":"5000.0","notification_url":"http://some.url/callback","success_url":"http://some.url/callback","fail_url":"http://some.url/callback","card_number":"4242424242424242","card_expire":"01/25","card_cvv":"123"}'
    headers:
      Authorization:
      - Bearer wE5V6Jh51mdh3ZQ1LuJCDZC6Gw6SHvZ9curDSEBmdSjh8CDCS33puZJ71fGNgzmx
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - ru_RU
    body:
      encoding: UTF-8
      string: '{"message":"Validation failed","errors":{"method":["\u0412\u044b\u0431\u0440\u0430\u043d\u043d\u043e\u0435
        \u0412\u0430\u043c\u0438 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u0435
        \u043d\u0435\u0434\u043e\u043f\u0443\u0441\u0442\u0438\u043c\u043e."]}}'
  recorded_at: Wed, 19 Apr 2023 14:46:03 GMT
recorded_with: VCR 5.1.0
